@*@model PizzaBox.Domain.Models.Orders*@
@model OrderViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal? grossCost = 0.00M;
}

<h1>Details</h1>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTimestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderTimestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd class="col-sm-10">
            @Globals.storeRepo.GetStores(Model.StoreId).FirstOrDefault().StoreLocation
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>*@
    </dl>
    <table class="table">
        @foreach (var item in Model.PizzasSold)
        {
            <tr>
                <p>
                    @Globals.sizeRepo.GetSizes(item.PizzaSize).FirstOrDefault().SizeName
                    @Html.DisplayFor(modelItem => item.PizzaName)
                    with
                    @Globals.crustRepo.GetCrustTypes(item.PizzaCrust).FirstOrDefault().CrustName
                    ($@Globals.crustRepo.GetCrustTypes(item.PizzaCrust).FirstOrDefault().CrustCost)
                    crust:
                    $@Html.DisplayFor(modelItem => item.TotalCost)
                </p>
            </tr>
            grossCost += item.TotalCost;
        }
        <tr>
            <p>
                Sales Tax: $@(grossCost * Globals.SALES_TAX)
            </p>
            <p>
                Total Cost: $@Html.DisplayFor(model => model.TotalCost)
            </p>
        </tr>
    </table>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |*@
    <a asp-action="OrderHistory">Back to List</a>
</div>
